@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #5e6e85;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hero-logo {
  width: 64px;
  height: 64px;
  margin-top: 2rem;
}

.hero {
  min-height: 737px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 1rem;
}

.hero::before {
  width: 978px;
  height: 737px;
  background: linear-gradient(
    to right bottom,
    rgba(220, 248, 249, 0.8) 0%,
    rgba(214, 230, 254, 0.8) 100%
  );

  z-index: -1;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 55ch;
  text-align: left;
}

.hero-title {
  font-size: 4rem;
  color: #253347;
  margin-top: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.hero-description > p {
  line-height: 1.4;
}

.hero-bmi-calculator {
  max-width: 35rem;
  padding: 2rem;
  background-color: #fff;
  justify-self: left;
  align-self: center;
  color: #253347;
  border-radius: 16px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
}
.hero-bmi-calculator > h3 {
  font-weight: 500;
}
.bmi-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2.4rem;
  margin: 2rem auto;
}

.bmi-form .label-down {
  display: block;
  font-size: 0.6rem;
  color: #5e6e85;
  margin-bottom: 0.5rem;
}

.custom-radio-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.custom-radio-btn input[type="radio"] {
  display: none;
}

.custom-radio-btn .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: -4px;
  border-radius: 50%;
  border: 1px solid #d8e2e7;
}

.custom-radio-btn input[type="radio"]:checked + .circle {
  background-color: #d8e2e7;
}
.custom-radio-btn input[type="radio"]:checked + .circle::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #345ff6;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-input {
  width: 14rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;

  border-radius: 9px;
  border: 1px solid #d8e2e7;
}

.custom-input :checked {
  background-color: #345ff6;
}
.bmi-form input::placeholder {
  color: #345ff6;
  text-align: right;
  margin-right: 1rem;
}

.welcome-note {
  width: min(500px, 100%);
  background: linear-gradient(to right, #345ff6, #587dff 70%);
  border-radius: 9px 60px 60px 9px;
  color: #fff;
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.result {
  max-width: 89%;
  min-height: 10.3rem;
  background: linear-gradient(to right, #345ff6, #587dff 70%);
  border-radius: 9px 40px 40px 9px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;

  display: none;
}

/* YOUR RESULT SECTION*/

.your-result {
  max-width: 72.5rem;
  min-height: 33.3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
  margin-bottom: 5rem;
}

.your-result-img img {
  width: 564px;
  height: 533px;
}

.your-result-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.your-result-text > h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 2px;
  color: #253347;
}

.your-result-text > p {
  line-height: 150%;
  opacity: 0.9;
}

/* TIPS SECTION*/

.tips-section {
  background: linear-gradient(
    to right bottom,
    rgba(216, 246, 246, 0.8) 0%,
    rgba(218, 231, 250, 0.8) 100%
  );

  margin: 0 1rem 4.8rem;
  overflow: hidden;
}

.tip {
  width: 72.5rem;
  padding: 3.2rem 0;
  margin: 0 auto;
  column-gap: 3rem;
  justify-items: start;
}

.tips {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  margin: 0 auto;
}

.tips > img {
  width: 65px;
  height: 64px;
}

.tips-title {
  font-size: 1.25rem;
  line-height: 110%;
  color: #253347;
}

.tips-text {
  font-size: 0.8rem;
  line-height: 150%;
}

/* Limitation SECTION*/

.limitation-section {
  max-width: 72.5rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.limitation {
  grid-template: repeat(3, 1fr) / 210px 370px 370px 210px;
  gap: 1rem;
}

.limit-box {
  width: 22.8rem;
  height: 14rem;
  background-color: #fff;
  box-shadow: 16px 32px 56px 0 rgb(143, 175, 209, 25%);
  border-radius: 16px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spacing {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.limit-box > img {
  width: 32px;
  height: 32px;
  display: block;
}

.limit > h2 {
  font-size: 3rem;
  color: #253347;
}

.limit {
  grid-area: 1/1 /2 / span 2;
  width: 54ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.limit-title {
  font-size: 1.2rem;
  color: #253347;
}

.limit-text {
  font-size: 0.8rem;
  line-height: 150%;
}

.limit-gender {
  grid-area: 1/3/2 / span 2;
  align-self: end;
  transform: translateX(70px);
}

.limit-age {
  grid-area: 2/2/3/3;
  transform: translateX(200px);
}

.limit-muscle {
  grid-area: 2/3/3 / span 2;
  justify-self: end;
  transform: translateX(-30px);
}

.limit-pregnancy {
  grid-area: 3/2/4/3;
  z-index: 2;
}

.limit-race {
  grid-area: 3/3/4/4;
  z-index: 2;
}
