@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #5e6e85;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.hero-logo {
  width: 64px;
  height: 64px;
  margin-top: 2rem;
}

.hero {
  width: 1276px;
  height: 737px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 1rem;
}

.hero::before {
  width: 978px;
  height: 737px;
  background: #e7f5fe;
  z-index: -1;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 55ch;
  text-align: left;
}

.hero-title {
  font-size: 4rem;
  color: #253347;
  margin-top: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.hero-description > p {
  line-height: 1.4;
}

.hero-bmi-calculator {
  max-width: 35rem;
  padding: 2rem;
  background-color: #fff;
  justify-self: left;
  align-self: center;
  color: #253347;
  border-radius: 16px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
}
.hero-bmi-calculator > h3 {
  font-weight: 500;
}
.bmi-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2.4rem;
  margin: 2rem auto;
  justify-items: center;
}

.bmi-form .label-down {
  display: block;
  font-size: 0.6rem;
  color: #5e6e85;
  margin-bottom: 0.5rem;
}

.custom-radio-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.custom-radio-btn input[type="radio"] {
  display: none;
}

.custom-radio-btn .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: -4px;
  border-radius: 50%;
  border: 1px solid #d8e2e7;
}

.custom-radio-btn input[type="radio"]:checked + .circle {
  background-color: #d8e2e7;
}
.custom-radio-btn input[type="radio"]:checked + .circle::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #345ff6;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-input {
  width: 14rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;

  border-radius: 9px;
  border: 1px solid #d8e2e7;
}

.custom-input :checked {
  background-color: #345ff6;
}
.bmi-form input::placeholder {
  color: #345ff6;
  text-align: right;
  margin-right: 1rem;
}

.result {
  width: 89%;
  height: 10.3rem;
  background: linear-gradient(to right, #345ff6, #587dff 70%);
  border-radius: 9px 990px 990px 9px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
